@font-face {
    font-family: futura-con;
    src: url("Fonts/FuturaCon-Bol.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura-con;
}

header { 
    text-align: center;
    font-size: 2rem;
}

.character-sheet, .Attributes, .Equipment {
    text-align: center;
}

.attributeText {
    width: 5rem;
    text-align: center;
}

.rollButton, #ResetAttButton {
    width: 6.5rem;
    background-color: #000;
    color: #fff;
}

#hpRollButton {
    width: 6.5rem;
    background-color: #000;
    color: #fff;
}

.mb-3{
    font-size: 2rem;
}

.mb-3 input, select {
    border-radius: 10px;
    border-width: 0.5px;
    padding-left: 2px;
}

select {
    background-color: #000;
    color: #fff;
}

option {
    text-align: center;
}

#hpInput {
    width: 5rem;
    text-align: center;
}

#goldInput {
    width: 5rem;
    text-align: center;
}

#goldRollButton {
    width: 6.5rem;
    background-color: #000;
    color: #fff;
}

.attributes-container, .equipment-container{
    background-color: #000;
    color: #fff;
    width: 100%;
}

.row {
    font-size: 2rem;
}

.row input {
    border-radius: 10px;
    border-width: 0.5px;
    padding-left: 2px;
}

#gear-container input[type=number] {
    margin: 1.5rem;
    width: 5rem;
    align-self: center;
    text-align: center;
}

#gear-container label {
    display: inline-block;
}